.entete{
	background:#391713; 
}
div ul li a{
	color:#ffffff !important;	
	text-transform: uppercase;
}
.navbar-brand{
	color: #ffffff !important;
	font-weight: bold;
}
p{
	color:  #ffffff !important;
}
.contenu{
	background: #9c3333;
}